[scripts]
format = """\
python _combo_shell.py "\
docformatter am_common_lib test \
  || docformatter am_common_lib test \
  && isort . \
  && black am_common_lib resources test \
  && python _prettify.py"\
"""
chk = 'mypy .'

[dev-packages]
pytest = "*"
assertpy = "*"
docformatter = "*"
isort = "*"
black = "*"
setuptools = "*"
mypy = "*"

[packages]
